.card {
  width: 432px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.actions {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  border-radius: 0 0 4px 4px;
}
.action {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.action span {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}